body {
  margin: 0%;
}
.top-part {
  color: white;
  background-color: #1f2937;
  box-sizing: border-box;
}
.flex-header {
  display: flex;
}

.flex-header h6 h4 {
  flex: 1 1 1;
}

h4 {
  size: 3px;
  flex: 100;
  padding: 1.5%;
}
.top-part {
  padding: 1.5%;
}
