body {
  margin: 0%;
}
.top-part {
  color: white;
  background-color: #1f2937;
}
.flex-header {
  display: flex;
  margin: 0 10% 0 10%;
}

.flex-header h6 h4 {
  flex: 1 1 1;
}
h6 {
  flex: 10;
  padding: 0 10px 0 10px;
}

h4 {
  size: 3px;
  flex: 100;
}
.title-container {
  display: flex;
  margin: 0 10% 10% 10%;
}
